<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wx.wxBus.mapper.StationMapper">

    <select id="selectStation" resultType="com.ruoyi.wx.wxBus.domain.Station">
        select stationId,stationName,yPoint,xPoint
        from t_stationinfo
        where stationName like concat('%', #{value}, '%');
    </select>

    <select id="selectStationName" resultType="com.ruoyi.wx.wxBus.domain.Station">
        select stationId,stationName,yPoint,xPoint
        from t_stationinfo
        where stationName = #{value};
    </select>

    <select id="selectAllStation" resultType="com.ruoyi.wx.wxBus.domain.Station">
        select stationId,stationName,yPoint,xPoint from t_stationinfo;
    </select>

<!--    <select id="selectStations" resultMap="stationList">-->
<!--        select t1.busNo,t2.stationName,t1.travelSort-->
<!--        from t_road t1-->
<!--        join t_stationinfo t2-->
<!--        on t1.stationId = t2.stationId-->
<!--        where t2.stationName like  concat('%', #{value}, '%');-->
<!--    </select>-->
<!--    <resultMap id="stationList" type="com.ruoyi.wx.wxBus.domain.Station">-->
<!--        <result column="busNo" property="busNo"></result>-->
<!--        <result column="tarvelSort" property="tarvelSort"></result>-->
<!--        <association property="road" javaType="com.ruoyi.wx.wxBus.domain.Road">-->
<!--            <result column="stationName" property="stationName"></result>-->
<!--        </association>-->
<!--    </resultMap>-->

</mapper>
