<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busInfo.mapper.TBusinfoMapper">
    
    <resultMap type="TBusinfo" id="TBusinfoResult">
        <result property="busid"    column="busId"    />
        <result property="busno"    column="busNo"    />
        <result property="licenseplate"    column="licensePlate"    />
        <result property="busparam"    column="busParam"    />
        <result property="busstate"    column="busState"    />
        <result property="attr1"    column="attr1"    />
        <result property="attr2"    column="attr2"    />
    </resultMap>

    <sql id="selectTBusinfoVo">
-- select *from t_businfo
select * from t_businfo left join t_param_bus on t_businfo.busParam=t_param_bus.busParam
    </sql>

    <select id="selectTBusinfoList" parameterType="TBusinfo" resultMap="TBusinfoResult">
        <include refid="selectTBusinfoVo"/>
        <where>  
            <if test="busno != null  and busno != ''"> and busNo = #{busno}</if>
            <if test="licenseplate != null  and licenseplate != ''"> and licensePlate = #{licenseplate}</if>
            <if test="busparam != null "> and busParam = #{busparam}</if>
            <if test="busstate != null  and busstate != ''"> and busstate = #{busstate}</if>
            <if test="attr2 != null  and attr2 != ''"> and attr2 = #{attr2}</if>
        </where>
    </select>
    
    <select id="selectTBusinfoById" parameterType="Long" resultMap="TBusinfoResult">
        <include refid="selectTBusinfoVo"/>
        where busId = #{busid}
    </select>
        
    <insert id="insertTBusinfo" parameterType="TBusinfo" useGeneratedKeys="true" keyProperty="busid">
        insert into t_businfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="busno != null">busNo,</if>
            <if test="licenseplate != null">licensePlate,</if>
            <if test="busparam != null">busParam,</if>
            <if test="attr1 != null">attr1,</if>
            <if test="attr2 != null">attr2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="busno != null">#{busno},</if>
            <if test="licenseplate != null">#{licenseplate},</if>
            <if test="busparam != null">#{busparam},</if>
            <if test="attr1 != null">#{attr1},</if>
            <if test="attr2 != null">#{attr2},</if>
         </trim>
    </insert>

    <update id="updateTBusinfo" parameterType="TBusinfo">
        update t_businfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="busno != null">busNo = #{busno},</if>
            <if test="licenseplate != null">licensePlate = #{licenseplate},</if>
            <if test="busparam != null">busParam = #{busparam},</if>
            <if test="attr1 != null">attr1 = #{attr1},</if>
            <if test="attr2 != null">attr2 = #{attr2},</if>
        </trim>
        where busId = #{busid}
    </update>

    <delete id="deleteTBusinfoById" parameterType="Long">
        delete from t_businfo where busId = #{busid}
    </delete>

    <delete id="deleteTBusinfoByIds" parameterType="String">
        delete from t_businfo where busId in 
        <foreach item="busid" collection="array" open="(" separator="," close=")">
            #{busid}
        </foreach>
    </delete>
</mapper>