<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wx.wxuser.mapper.AddressMapper">

    <!--    <resultMap id="stationRoadVo" type="WxStationInfo">-->
    <!--        <id column="sStationId" property="stationId"/>-->
    <!--        <result column="stationName" property="stationName"/>-->
    <!--        <result column="xPoint" property="xPoint"/>-->
    <!--        <result column="yPoint" property="yPoint"/>-->
    <!--        <association property="wxRoad" javaType="WxRoad">-->
    <!--            <id column="roadId" property="roadId"/>-->
    <!--            <result column="busNo" property="busNo"/>-->
    <!--            <result column="cost" property="cost"/>-->
    <!--        </association>-->
    <!--    </resultMap>-->
    <!--    <select id="queryNearStation" resultMap="stationRoadVo">-->
    <!--            SELECT t2.stationId,t1.busNo,t1.cost,t2.stationName,t2.xPoint,t2.yPoint FROM t_road t1,t_stationinfo t2 WHERE-->
    <!--            t1.stationId=t2.stationId and t2.cityId=(SELECT cityId FROM t_city WHERE cityName = #{cityName}) and t2.stationId in-->
    <!--            (SELECT t3.stationId FROM t_stationinfo t3 WHERE xPoint &gt; #{minLng} and xPoint &lt; #{maxLng} and yPoint &gt; #{minLat} and-->
    <!--            yPoint &lt; #{maxLat})-->
    <!--    </select>-->
    <select id="queryNearStation" resultType="WxStationInfo">
        SELECT stationId, stationName, xPoint, yPoint
        FROM t_stationinfo
        WHERE cityId = (SELECT cityId FROM t_city WHERE cityName = #{cityName})
          and xPoint &gt; #{minLng}
          and xPoint &lt; #{maxLng}
          and yPoint &gt; #{minLat}
          and yPoint &lt; #{maxLat}
    </select>

    <select id="queryBusNoById" resultType="WxBusRealRun">
        SELECT t1.busNo, t2.licensePlate
        FROM t_road t1,
             t_bus_realrun t2
        WHERE t1.stationId = #{stationId}
          AND t1.busNo = t2.busNo
          AND t1.cityId = (SELECT cityId FROM t_city WHERE cityName = #{cityName})
          AND t1.direction = #{direction}
          AND t1.direction = t2.direction;
    </select>

    <select id="queryBusTo" resultType="StationRoadVo">
        SELECT t1.travelSort, t2.stationName, t2.xPoint, t2.yPoint
        FROM t_road t1,
             t_stationinfo t2
        WHERE t1.stationId = t2.stationId
          and t1.busNo = #{busNo}
          and t1.cityId = (SELECT cityId FROM t_city WHERE cityName = #{cityName})
          and t1.direction = #{direction}
        ORDER BY t1.travelSort

    </select>

    <select id="queryDistanceAndSpeed" resultType="StationRoadVo">
        select t1.realXPoint,
               t1.realYPoint,
               t1.licensePlate,
               t1.nowStation,
               t1.nextStation,
               t1.speed,
               t2.xPoint,
               t2.yPoint,
               t3.travelSort
        from t_bus_realrun t1,
             t_stationinfo t2,
             t_road t3
        where t1.nextStation = t2.stationName
          and t1.licensePlate = #{licensePlate}
          and t3.direction = #{direction}
          and t2.stationId = t3.stationId
          and t3.busNo = t1.busNo
          and t1.cityId = (SELECT cityId FROM t_city WHERE cityName = #{cityName})
          and t1.direction = t3.direction
        limit 1;
    </select>

    <select id="querySurplusStation" resultType="Integer">
        SELECT t2.travelSort
        FROM t_stationinfo t1,
             t_road t2
        WHERE t1.stationName = #{stationName}
          and t1.stationId = t2.stationId
          and t2.busNo = #{busNo}
          and t2.direction = #{direction}
          and t1.cityId = (SELECT cityId FROM t_city WHERE cityName = #{cityName})
    </select>

    <select id="queryCollectByOpId" resultType="WxCollect">
        select *
        from t_wx_collect
        where stationName = #{stationName}
          and cityName = #{cityName}
          and openId = #{openId}
          and stationId = #{stationId};
    </select>

    <insert id="insertCollect">
        insert into t_wx_collect (stationId, stationName, cityName, openId, xPoint, yPoint)
        values (#{stationId}, #{stationName}, #{cityName}, #{openId}, #{xPoint}, #{yPoint});
    </insert>

    <select id="queryCollectCityName" parameterType="String" resultType="String">
        select distinct cityName
        from t_wx_collect
        where openId = #{openId};
    </select>

    <select id="queryCollectByOpIdAndCity" resultType="WxCollect">
        select *
        from t_wx_collect
        where openId = #{openId}
          and cityName = #{cityName};
    </select>

    <select id="queryHistoryByOpId" parameterType="String" resultType="WxHistory">
        select *
        from t_wx_history
        where openId = #{openId}
          and cityName = #{cityName};
    </select>

    <insert id="insertHistory" parameterType="WxHistory">
        insert into t_wx_history (endStation, busNo, openId, cityName)
        values (#{endStation}, #{busNo}, #{openId}, #{cityName});
    </insert>
    <insert id="insertHistory1" parameterType="WxHistory">
        insert into t_wx_history (stationId, stationName, xPoint, yPoint, cityName, openId)
        values (#{stationId}, #{stationName}, #{xPoint}, #{yPoint}, #{cityName}, #{openId});
    </insert>

    <delete id="delAllHistory">
        delete
        from t_wx_history
        where openId = #{openId}
          and cityName = #{cityName};
    </delete>

    <select id="TaskQueryBusTo" resultType="StationRoadVo">
        SELECT t1.travelSort, t2.stationName, t2.xPoint, t2.yPoint, t1.cityId
        FROM t_road t1,
             t_stationinfo t2
        WHERE t1.stationId = t2.stationId
          and t1.busNo = #{busNo}
          and t1.cityId = t2.cityId
          and t1.direction = #{direction}
        ORDER BY t1.travelSort
    </select>

    <select id="queryClickStationXy" resultType="Map">
        select xPoint, yPoint
        from t_stationinfo
        where stationName = #{stationName}
          and cityId = (SELECT cityId FROM t_city WHERE cityName = #{cityName});
    </select>

    <select id="queryRoadMap" resultType="BaiDuMarkers">
        SELECT stationId as id, stationName, xPoint as longitude, yPoint as latitude
        from t_stationinfo
        WHERE stationId in (SELECT t2.stationId
                            from t_bus_realrun t1,
                                 t_road t2
                            WHERE t1.busNo = t2.busNo
                              and t1.busNo = #{busNo}
                              and t2.direction = t1.direction
                              and t2.direction = #{direction}
                            ORDER BY t2.travelSort)
    </select>

</mapper>
