<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wx.wxuser.mapper.AliPayMapper">
    <insert id="insertPayInfo" parameterType="WxAliPay">
        insert into t_wx_alipay (out_trade_no, total_amount, subject, store_id, openId, payState)
        values (#{out_trade_no}, #{total_amount}, #{subject}, #{store_id}, #{openId}, #{payState});
    </insert>

    <update id="updPayStateByOpId">
        update t_wx_alipay
        set payState = #{payState}
        where openId = #{openId}
          and out_trade_no = #{out_trade_no};
    </update>


</mapper>
