<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wx.wxuser.mapper.WxBusInfoMapper">

    <select id="queryBus" resultType="WxBusInfo">
        select *
        from t_businfo
        where busNo = #{busNo}
          and (busParam = #{busParam1} or busParam = #{busParam2});
    </select>

    <insert id="insertRealRunBus" parameterType="WxBusInfo">
        insert into t_bus_realrun ( busNo, licensePlate, realXPoint, realYPoint, nowStation, nextStation
                                  , speed, cityId, direction)
        values (#{busNo}, #{licensePlate}, #{realXPoint}, #{realYPoint}, #{nowStation}, #{nextStation}, #{speed},
                #{cityId}, #{direction});
    </insert>

    <update id="updBusState">
        update t_businfo
        set busParam = #{busParam}
        where licensePlate = #{licensePlate}
        limit 1;
    </update>

    <update id="updBusWhenOver">
        update t_businfo
        set busParam = #{busParam}
        where busParam = 0;
    </update>


</mapper>
