<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.wx.wxuser.mapper.WxRecordMapper">
    <insert id="insertRecord" parameterType="WxRecord">
        insert into t_wx_record (openId, isAdd, record, recordTime, restMoney)
        values (#{openId}, #{isAdd}, #{record}, #{recordTime}, #{restMoney});
    </insert>
    <select id="queryIncomeRecordByOpId" resultType="WxRecord">
        select record, recordTime
        from t_wx_record
        where openId = #{openId}
          and isAdd = #{isAdd};
    </select>
</mapper>
