<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busRealrun.mapper.TBusRealrunMapper">
    
    <resultMap type="TBusRealrun" id="TBusRealrunResult">
        <result property="realrunid"    column="realrunId"    />
        <result property="busno"    column="busNo"    />
        <result property="licenseplate"    column="licensePlate"    />
        <result property="realxpoint"    column="realXPoint"    />
        <result property="realypoint"    column="realYPoint"    />
        <result property="realpoint"    column="realPoint"    />
        <result property="nowstation"    column="nowStation"    />
        <result property="nextstation"    column="nextStation"    />
        <result property="roadstate"    column="roadState"    />
        <result property="speed"    column="speed"    />
        <result property="personnum"    column="personNum"    />
        <result property="demo1"    column="demo1"    />
        <result property="demo2"    column="demo2"    />
        <result property="demo3"    column="demo3"    />
    </resultMap>

    <sql id="selectTBusRealrunVo">
        select realrunId, busNo, licensePlate, realXPoint, realYPoint, realPoint, nowStation, nextStation, roadState, speed, personNum, demo1, demo2, demo3 from t_bus_realrun
    </sql>

    <select id="selectTBusRealrunList" parameterType="TBusRealrun" resultMap="TBusRealrunResult">
        <include refid="selectTBusRealrunVo"/>
        <where>  
            <if test="busno != null  and busno != ''"> and busNo = #{busno}</if>
            <if test="licenseplate != null  and licenseplate != ''"> and licensePlate = #{licenseplate}</if>
            <if test="realxpoint != null  and realxpoint != ''"> and realXPoint = #{realxpoint}</if>
            <if test="realypoint != null  and realypoint != ''"> and realYPoint = #{realypoint}</if>
            <if test="realpoint != null  and realpoint != ''"> and realPoint = #{realpoint}</if>
            <if test="nowstation != null  and nowstation != ''"> and nowStation = #{nowstation}</if>
            <if test="nextstation != null  and nextstation != ''"> and nextStation = #{nextstation}</if>
            <if test="roadstate != null  and roadstate != ''"> and roadState = #{roadstate}</if>
            <if test="speed != null  and speed != ''"> and speed = #{speed}</if>
            <if test="personnum != null  and personnum != ''"> and personNum = #{personnum}</if>
            <if test="demo1 != null  and demo1 != ''"> and demo1 = #{demo1}</if>
            <if test="demo2 != null  and demo2 != ''"> and demo2 = #{demo2}</if>
            <if test="demo3 != null  and demo3 != ''"> and demo3 = #{demo3}</if>
        </where>
    </select>
    
    <select id="selectTBusRealrunById" parameterType="Long" resultMap="TBusRealrunResult">
        <include refid="selectTBusRealrunVo"/>
        where realrunId = #{realrunid}
    </select>
        
    <insert id="insertTBusRealrun" parameterType="TBusRealrun" useGeneratedKeys="true" keyProperty="realrunid">
        insert into t_bus_realrun
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="busno != null">busNo,</if>
            <if test="licenseplate != null">licensePlate,</if>
            <if test="realxpoint != null">realXPoint,</if>
            <if test="realypoint != null">realYPoint,</if>
            <if test="realpoint != null">realPoint,</if>
            <if test="nowstation != null">nowStation,</if>
            <if test="nextstation != null">nextStation,</if>
            <if test="roadstate != null">roadState,</if>
            <if test="speed != null">speed,</if>
            <if test="personnum != null">personNum,</if>
            <if test="demo1 != null">demo1,</if>
            <if test="demo2 != null">demo2,</if>
            <if test="demo3 != null">demo3,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="busno != null">#{busno},</if>
            <if test="licenseplate != null">#{licenseplate},</if>
            <if test="realxpoint != null">#{realxpoint},</if>
            <if test="realypoint != null">#{realypoint},</if>
            <if test="realpoint != null">#{realpoint},</if>
            <if test="nowstation != null">#{nowstation},</if>
            <if test="nextstation != null">#{nextstation},</if>
            <if test="roadstate != null">#{roadstate},</if>
            <if test="speed != null">#{speed},</if>
            <if test="personnum != null">#{personnum},</if>
            <if test="demo1 != null">#{demo1},</if>
            <if test="demo2 != null">#{demo2},</if>
            <if test="demo3 != null">#{demo3},</if>
         </trim>
    </insert>

    <update id="updateTBusRealrun" parameterType="TBusRealrun">
        update t_bus_realrun
        <trim prefix="SET" suffixOverrides=",">
            <if test="busno != null">busNo = #{busno},</if>
            <if test="licenseplate != null">licensePlate = #{licenseplate},</if>
            <if test="realxpoint != null">realXPoint = #{realxpoint},</if>
            <if test="realypoint != null">realYPoint = #{realypoint},</if>
            <if test="realpoint != null">realPoint = #{realpoint},</if>
            <if test="nowstation != null">nowStation = #{nowstation},</if>
            <if test="nextstation != null">nextStation = #{nextstation},</if>
            <if test="roadstate != null">roadState = #{roadstate},</if>
            <if test="speed != null">speed = #{speed},</if>
            <if test="personnum != null">personNum = #{personnum},</if>
            <if test="demo1 != null">demo1 = #{demo1},</if>
            <if test="demo2 != null">demo2 = #{demo2},</if>
            <if test="demo3 != null">demo3 = #{demo3},</if>
        </trim>
        where realrunId = #{realrunid}
    </update>

    <delete id="deleteTBusRealrunById" parameterType="Long">
        delete from t_bus_realrun where realrunId = #{realrunid}
    </delete>

    <delete id="deleteTBusRealrunByIds" parameterType="String">
        delete from t_bus_realrun where realrunId in 
        <foreach item="realrunid" collection="array" open="(" separator="," close=")">
            #{realrunid}
        </foreach>
    </delete>
</mapper>