<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.busTime.mapper.TSchedudleMapper">
    
    <resultMap type="TSchedudle" id="TSchedudleResult">
        <result property="scheduleid"    column="scheduleId"    />
        <result property="busno"    column="busNo"    />
        <result property="timeinterval"    column="timeInterval"    />
        <result property="startime"    column="starTime"    />
        <result property="endtime"    column="endTime"    />
        <result property="attr1"    column="attr1"    />
        <result property="attr2"    column="attr2"    />
    </resultMap>

    <sql id="selectTSchedudleVo">
        select scheduleId, busNo, timeInterval, starTime, endTime, attr1, attr2 from t_schedudle
    </sql>

    <select id="selectTSchedudleList" parameterType="TSchedudle" resultMap="TSchedudleResult">
        <include refid="selectTSchedudleVo"/>
        <where>  
            <if test="busno != null  and busno != ''"> and busNo = #{busno}</if>
            <if test="timeinterval != null  and timeinterval != ''"> and timeInterval = #{timeinterval}</if>
            <if test="startime != null  and startime != ''"> and starTime = #{startime}</if>
            <if test="endtime != null  and endtime != ''"> and endTime = #{endtime}</if>
            <if test="attr1 != null  and attr1 != ''"> and attr1 = #{attr1}</if>
            <if test="attr2 != null  and attr2 != ''"> and attr2 = #{attr2}</if>
        </where>
    </select>
    
    <select id="selectTSchedudleById" parameterType="Long" resultMap="TSchedudleResult">
        <include refid="selectTSchedudleVo"/>
        where scheduleId = #{scheduleid}
    </select>
        
    <insert id="insertTSchedudle" parameterType="TSchedudle" useGeneratedKeys="true" keyProperty="scheduleid">
        insert into t_schedudle
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="busno != null and busno != ''">busNo,</if>
            <if test="timeinterval != null">timeInterval,</if>
            <if test="startime != null">starTime,</if>
            <if test="endtime != null">endTime,</if>
            <if test="attr1 != null">attr1,</if>
            <if test="attr2 != null">attr2,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="busno != null and busno != ''">#{busno},</if>
            <if test="timeinterval != null">#{timeinterval},</if>
            <if test="startime != null">#{startime},</if>
            <if test="endtime != null">#{endtime},</if>
            <if test="attr1 != null">#{attr1},</if>
            <if test="attr2 != null">#{attr2},</if>
         </trim>
    </insert>

    <update id="updateTSchedudle" parameterType="TSchedudle">
        update t_schedudle
        <trim prefix="SET" suffixOverrides=",">
            <if test="busno != null and busno != ''">busNo = #{busno},</if>
            <if test="timeinterval != null">timeInterval = #{timeinterval},</if>
            <if test="startime != null">starTime = #{startime},</if>
            <if test="endtime != null">endTime = #{endtime},</if>
            <if test="attr1 != null">attr1 = #{attr1},</if>
            <if test="attr2 != null">attr2 = #{attr2},</if>
        </trim>
        where scheduleId = #{scheduleid}
    </update>

    <delete id="deleteTSchedudleById" parameterType="Long">
        delete from t_schedudle where scheduleId = #{scheduleid}
    </delete>

    <delete id="deleteTSchedudleByIds" parameterType="String">
        delete from t_schedudle where scheduleId in 
        <foreach item="scheduleid" collection="array" open="(" separator="," close=")">
            #{scheduleid}
        </foreach>
    </delete>
</mapper>