<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.road.mapper.TStationinfoMapper">
    
    <resultMap type="TStationinfo" id="TStationinfoResult">
        <result property="stationid"    column="stationId"    />
        <result property="cityid"    column="cityId"    />
        <result property="stationname"    column="stationName"    />
        <result property="xpoint"    column="xPoint"    />
        <result property="ypoint"    column="yPoint"    />
        <result property="point"    column="Point"    />
        <association property="city" javaType="com.ruoyi.road.domain.TCity">
            <result property="cityname" column="cityname"></result>
        </association>
    </resultMap>

    <sql id="selectTStationinfoVo">
        select a.stationId,
               a.cityId,
               a.stationName,
               a.xPoint,
               a.yPoint,
               a.Point,
               b.cityname
        from t_stationinfo a,
             t_city b
    </sql>

    <select id="selectTStationinfoList" resultMap="TStationinfoResult">
        <include refid="selectTStationinfoVo"/>
        <where>
            a.cityId = b.cityId
            <if test="tStationinfo.cityid != null "> and a.cityId = #{tStationinfo.cityid}</if>
            <if test="tStationinfo.stationname != null  and tStationinfo.stationname != ''"> and a.stationName like concat('%', #{tStationinfo.stationname}, '%')</if>
            <if test="tStationinfo.xpoint != null  and tStationinfo.xpoint != ''"> and a.xPoint = #{tStationinfo.xpoint}</if>
            <if test="tStationinfo.ypoint != null  and tStationinfo.ypoint != ''"> and a.yPoint = #{tStationinfo.ypoint}</if>
            <if test="tStationinfo.point != null  and tStationinfo.point != ''"> and a.Point = #{tStationinfo.point}</if>
            <if test="tCity.cityname != null  and tCity.cityname != ''">and b.cityname like concat('%', #{tCity.cityname}, '%')</if>
        </where>
    </select>
    
    <select id="selectTStationinfoById" parameterType="Integer" resultMap="TStationinfoResult">
        <include refid="selectTStationinfoVo"/>
        where a.stationId = #{stationid}
    </select>
        
    <insert id="insertTStationinfo" parameterType="TStationinfo" useGeneratedKeys="true" keyProperty="stationid">
        insert into t_stationinfo
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="cityid != null">cityId,</if>
            <if test="stationname != null">stationName,</if>
            <if test="xpoint != null">xPoint,</if>
            <if test="ypoint != null">yPoint,</if>
            <if test="point != null">Point,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="cityid != null">#{cityid},</if>
            <if test="stationname != null">#{stationname},</if>
            <if test="xpoint != null">#{xpoint},</if>
            <if test="ypoint != null">#{ypoint},</if>
            <if test="point != null">#{point},</if>
         </trim>
    </insert>

    <update id="updateTStationinfo" parameterType="TStationinfo">
        update t_stationinfo
        <trim prefix="SET" suffixOverrides=",">
            <if test="cityid != null">cityId = #{cityid},</if>
            <if test="stationname != null">stationName = #{stationname},</if>
            <if test="xpoint != null">xPoint = #{xpoint},</if>
            <if test="ypoint != null">yPoint = #{ypoint},</if>
            <if test="point != null">Point = #{point},</if>
        </trim>
        where stationId = #{stationid}
    </update>

    <delete id="deleteTStationinfoById" parameterType="Integer">
        delete from t_stationinfo where stationId = #{stationid}
    </delete>

    <delete id="deleteTStationinfoByIds" parameterType="String">
        delete from t_stationinfo where stationId in 
        <foreach item="stationid" collection="array" open="(" separator="," close=")">
            #{stationid}
        </foreach>
    </delete>
</mapper>